@charset "UTF-8";
:root {
  font-family: "Subjectivity";
  font-size: 1em;
  color: black;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

ul {
  padding-left: 15px;
}
@media (min-width: 600px) {
  ul {
    padding-left: 20px;
  }
}
@media (orientation: landscape) {
  ul {
    padding-left: calc(20px + 1.5rem);
  }
}
ul li {
  list-style: disc;
}
ul li li {
  list-style: circle;
}

blockquote, q {
  quotes: none;
}

blockquote :first-child::before, q::before {
  content: "« ";
}

blockquote :last-child::after, q::after {
  content: " »";
}

p {
  margin: 1rem 0;
}

a {
  color: black;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-family: "Subjectivity Medium";
}

em {
  font-weight: normal;
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: 0.75rem;
}

button {
  background-color: transparent;
}
button:disabled {
  background-color: transparent;
}

button:not(.menu-button):not(#button-mobile):not(.darkmode-button), .button {
  display: inline-block;
  color: black;
  border: 2px solid black;
  font-family: "Subjectivity Medium";
}

button:not(.menu-button):not(#button-mobile):not(.darkmode-button):not(.more), .button {
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 1;
}

button:not(.menu-button):not(#button-mobile):not(.darkmode-button):disabled {
  color: grey;
  border-color: grey;
}
button:not(.menu-button):not(#button-mobile):not(.darkmode-button):not(:disabled) {
  cursor: pointer;
}
button:not(.menu-button):not(#button-mobile):not(.darkmode-button):hover, button:not(.menu-button):not(#button-mobile):not(.darkmode-button):active, button:not(.menu-button):not(#button-mobile):not(.darkmode-button):focus {
  color: white;
  background-color: black;
}
button:not(.menu-button):not(#button-mobile):not(.darkmode-button):hover:disabled, button:not(.menu-button):not(#button-mobile):not(.darkmode-button):active:disabled, button:not(.menu-button):not(#button-mobile):not(.darkmode-button):focus:disabled {
  color: grey;
  border-color: grey;
  background-color: transparent;
}

.button-container {
  text-decoration: none;
}
.button-container:hover .button, .button-container:active .button, .button-container:focus .button {
  color: white;
  background-color: black;
}

html, body {
  width: 100%;
  height: 100%;
}

header, main, footer, nav {
  width: 100%;
}

header li, footer li, nav ul li, .channel #networks li, .channel #series li, .series ul li {
  list-style: none;
}

header ul, footer ul, .channel #networks, .channel #series ul, .series ul {
  padding-left: 0;
}

header a, footer a, #breadcrumbs a {
  text-decoration: none;
}

header a:not(.selected), footer a:not(.selected) {
  font-family: "Objectivity";
}
header a:not(.selected):hover, header a:not(.selected):active, header a:not(.selected):focus, footer a:not(.selected):hover, footer a:not(.selected):active, footer a:not(.selected):focus {
  font-family: "Objectivity Medium";
}

#breadcrumbs a {
  font-family: "Objectivity";
}
#breadcrumbs a:hover > span, #breadcrumbs a:active > span, #breadcrumbs a:focus > span {
  font-family: "Objectivity Medium";
}

#button-mobile, .darkmode-button {
  cursor: pointer;
}

/*  HEADER */
header {
  position: fixed;
  height: 65px;
  top: 0;
  z-index: 1;
}
@media (min-width: 600px) {
  header {
    height: 75px;
  }
}

nav, nav > ul {
  display: flex;
}

nav {
  padding: 15px;
  justify-content: space-between;
}
@media (min-width: 600px) {
  nav {
    padding: 10px 20px;
  }
}

nav > ul {
  justify-content: space-between;
  align-items: center;
}
nav > ul:first-of-type > li:not(:first-of-type) {
  margin-left: 15px;
}
@media (min-width: 600px) {
  nav > ul:first-of-type > li:not(:first-of-type) {
    margin-left: 25px;
  }
}

#logo {
  margin-top: -2px;
}
#logo img {
  height: 40px;
}
@media (min-width: 600px) {
  #logo {
    margin-top: 0;
  }
  #logo img {
    height: 50px;
  }
}

.desktop:first-of-type > li:first-of-type {
  width: 47px;
}
.desktop:first-of-type > li:nth-of-type(2) {
  width: 74px;
  white-space: nowrap;
}
.desktop:first-of-type > li:nth-of-type(3) {
  width: 64px;
}
.desktop:first-of-type > li:nth-of-type(4) {
  width: 90px;
  white-space: nowrap;
}
.desktop:first-of-type > li:last-of-type {
  width: 68px;
}

nav button.menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
nav button.menu-button:hover, nav button.menu-button:active, nav button.menu-button:focus {
  font-family: "Objectivity Medium";
}

nav button.menu-button:focus {
  color: black;
}

.desktop #select-page {
  position: absolute;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0 10px;
  margin-left: -10px;
}
.desktop #select-page li {
  margin-bottom: 0.5rem;
}

.desktop .fb-button, .desktop .in-button, .desktop .li-button, .desktop .darkmode-button {
  margin: 0 0 0 25px;
}

.mobile .fb-button, .mobile .in-button, .mobile .li-button, .mobile .darkmode-button {
  margin: 0;
}

.fb-button, .in-button, .li-button, .darkmode-button {
  background-color: transparent;
  border: none;
}
.fb-button img, .in-button img, .li-button img, .darkmode-button img {
  height: 20px;
}

#button-mobile {
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-right: 15px;
}
@media (min-width: 600px) {
  #button-mobile {
    margin-top: 12px;
    margin-right: 20px;
  }
}

#menu-mobile {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  line-height: 1.75;
  padding: 15px;
}
@media (min-width: 600px) {
  #menu-mobile {
    padding: 20px;
  }
}

.mobile {
  padding: 0;
}
.mobile:last-of-type {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.mobile a, .mobile .menu-button {
  font-size: 1.25rem;
}
.mobile p {
  margin: 0;
}
.mobile #select-page li {
  list-style: inside;
  list-style-type: circle;
  margin-left: 1.5rem;
}

@media (min-width: 900px) {
  #menu-mobile, #button-mobile {
    display: none;
  }
}
@media (max-width: 899px) {
  .desktop {
    display: none;
  }
}
/* AUDIO */
.audio header, .audio #menu-mobile, .audio .desktop #select-page, .channel header, .channel #menu-mobile, .channel .desktop #select-page, .series header, .series #menu-mobile, .series .desktop #select-page, .episode header, .episode #menu-mobile, .episode .desktop #select-page {
  background-color: #D462FF;
}
.audio main, .channel main, .series main, .episode main {
  background: linear-gradient(#D462FF 5%, white);
}
.audio .authors, .channel .authors, .series .authors, .episode .authors {
  margin-top: 0.5rem;
}

.channel a.button, .series a.button {
  position: relative;
}
.channel .pic .img-link, .series .pic .img-link {
  background-color: #8412AF;
}
.channel .pic img, .series .pic img {
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.channel main > div > .grid .textual a.button .pic .img-link img, .series main > div > .grid .textual a.button .pic .img-link img {
  mix-blend-mode: normal;
  -webkit-filter: none;
  filter: none;
}
.channel .episode-number, .series .episode-number {
  position: absolute;
  bottom: 0;
  background-color: white;
  margin: 10px;
  padding: 5px;
}

.audio main > div, .channel main > div, .series main > div {
  margin-bottom: 2rem;
}
.audio main > div .header, .channel main > div .header, .series main > div .header {
  width: 100%;
}
@media (orientation: landscape) {
  .audio main > div .header, .channel main > div .header, .series main > div .header {
    width: 80%;
  }
}
.audio main > div .grid ul, .channel main > div .grid ul, .series main > div .grid ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-auto-rows: var(--width);
  grid-gap: 20px;
  margin-top: 3rem;
  padding: 0;
}
.audio main > div .grid ul li, .channel main > div .grid ul li, .series main > div .grid ul li {
  display: block;
  list-style: none;
}
.audio main > div .grid .textual a.button, .audio main > div .grid a.button, .channel main > div .grid .textual a.button, .channel main > div .grid a.button, .series main > div .grid .textual a.button, .series main > div .grid a.button {
  width: 100%;
  height: 100%;
  padding: 0;
  display: block;
  text-decoration: none;
  border-radius: 10px;
}
.audio main > div .grid .textual a.button .content-container, .audio main > div .grid .textual a.button .pic, .audio main > div .grid .textual a.button .pic .img-link, .audio main > div .grid a.button .content-container, .audio main > div .grid a.button .pic, .audio main > div .grid a.button .pic .img-link, .channel main > div .grid .textual a.button .content-container, .channel main > div .grid .textual a.button .pic, .channel main > div .grid .textual a.button .pic .img-link, .channel main > div .grid a.button .content-container, .channel main > div .grid a.button .pic, .channel main > div .grid a.button .pic .img-link, .series main > div .grid .textual a.button .content-container, .series main > div .grid .textual a.button .pic, .series main > div .grid .textual a.button .pic .img-link, .series main > div .grid a.button .content-container, .series main > div .grid a.button .pic, .series main > div .grid a.button .pic .img-link {
  margin: 0;
  width: 100%;
  height: 100%;
}
.audio main > div .grid .textual a.button:hover .title, .audio main > div .grid .textual a.button:active .title, .audio main > div .grid .textual a.button:focus .title, .audio main > div .grid a.button:hover .title, .audio main > div .grid a.button:active .title, .audio main > div .grid a.button:focus .title, .channel main > div .grid .textual a.button:hover .title, .channel main > div .grid .textual a.button:active .title, .channel main > div .grid .textual a.button:focus .title, .channel main > div .grid a.button:hover .title, .channel main > div .grid a.button:active .title, .channel main > div .grid a.button:focus .title, .series main > div .grid .textual a.button:hover .title, .series main > div .grid .textual a.button:active .title, .series main > div .grid .textual a.button:focus .title, .series main > div .grid a.button:hover .title, .series main > div .grid a.button:active .title, .series main > div .grid a.button:focus .title {
  background-color: #8412AF;
}
.audio main > div .grid .textual a.button:hover .pic .img-link, .audio main > div .grid .textual a.button:active .pic .img-link, .audio main > div .grid .textual a.button:focus .pic .img-link, .audio main > div .grid a.button:hover .pic .img-link, .audio main > div .grid a.button:active .pic .img-link, .audio main > div .grid a.button:focus .pic .img-link, .channel main > div .grid .textual a.button:hover .pic .img-link, .channel main > div .grid .textual a.button:active .pic .img-link, .channel main > div .grid .textual a.button:focus .pic .img-link, .channel main > div .grid a.button:hover .pic .img-link, .channel main > div .grid a.button:active .pic .img-link, .channel main > div .grid a.button:focus .pic .img-link, .series main > div .grid .textual a.button:hover .pic .img-link, .series main > div .grid .textual a.button:active .pic .img-link, .series main > div .grid .textual a.button:focus .pic .img-link, .series main > div .grid a.button:hover .pic .img-link, .series main > div .grid a.button:active .pic .img-link, .series main > div .grid a.button:focus .pic .img-link {
  background-color: #670E88;
}
.audio main > div .grid .textual a.button:hover .title h2, .audio main > div .grid .textual a.button:active .title h2, .audio main > div .grid .textual a.button:focus .title h2, .audio main > div .grid a.button:hover .title h2, .audio main > div .grid a.button:active .title h2, .audio main > div .grid a.button:focus .title h2, .channel main > div .grid .textual a.button:hover .title h2, .channel main > div .grid .textual a.button:active .title h2, .channel main > div .grid .textual a.button:focus .title h2, .channel main > div .grid a.button:hover .title h2, .channel main > div .grid a.button:active .title h2, .channel main > div .grid a.button:focus .title h2, .series main > div .grid .textual a.button:hover .title h2, .series main > div .grid .textual a.button:active .title h2, .series main > div .grid .textual a.button:focus .title h2, .series main > div .grid a.button:hover .title h2, .series main > div .grid a.button:active .title h2, .series main > div .grid a.button:focus .title h2 {
  color: white;
}
.audio main > div .grid .content-container, .channel main > div .grid .content-container, .series main > div .grid .content-container {
  display: flex;
  flex-direction: column;
}
.audio main > div .grid .pic .img-link, .audio main > div .grid .pic img, .channel main > div .grid .pic .img-link, .channel main > div .grid .pic img, .series main > div .grid .pic .img-link, .series main > div .grid .pic img {
  border-radius: 0 0 8px 8px;
}
.audio main > div .grid .pic .img-link, .channel main > div .grid .pic .img-link, .series main > div .grid .pic .img-link {
  display: block;
  position: relative;
}
.audio main > div .grid .pic img, .channel main > div .grid .pic img, .series main > div .grid .pic img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  object-fit: cover;
  object-position: center;
}
.audio main > div .grid .title, .channel main > div .grid .title, .series main > div .grid .title {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: #D462FF;
  border-radius: 8px 8px 0 0;
}
.audio main > div .grid .title h2, .channel main > div .grid .title h2, .series main > div .grid .title h2 {
  padding: 10px;
  margin: 0;
}

.channel header li:nth-of-type(3) a, .series header li:nth-of-type(3) a, .episode header li:nth-of-type(3) a {
  font-family: "Subjectivity Medium";
}
.channel #breadcrumbs-menu, .series #breadcrumbs-menu, .episode #breadcrumbs-menu {
  margin-bottom: 2.5rem;
}
.channel #breadcrumbs-menu #breadcrumbs, .series #breadcrumbs-menu #breadcrumbs, .episode #breadcrumbs-menu #breadcrumbs {
  height: auto;
  line-height: 1.5rem;
  padding: 0;
}
.channel #breadcrumbs-menu #breadcrumbs span, .series #breadcrumbs-menu #breadcrumbs span, .episode #breadcrumbs-menu #breadcrumbs span {
  padding: 0;
}
.channel #breadcrumbs-menu #breadcrumbs > span:not(:last-of-type)::after, .series #breadcrumbs-menu #breadcrumbs > span:not(:last-of-type)::after, .episode #breadcrumbs-menu #breadcrumbs > span:not(:last-of-type)::after {
  content: ">";
  margin: 0 0.5rem 0 0.25rem;
}
@media (min-width: 600px) {
  .channel #breadcrumbs-menu #breadcrumbs > span:not(:last-of-type)::after, .series #breadcrumbs-menu #breadcrumbs > span:not(:last-of-type)::after, .episode #breadcrumbs-menu #breadcrumbs > span:not(:last-of-type)::after {
    margin: 0 0.75rem 0 0.5rem;
  }
}
.channel #breadcrumbs-menu #breadcrumbs > span:first-of-type, .channel #breadcrumbs-menu #breadcrumbs i, .series #breadcrumbs-menu #breadcrumbs > span:first-of-type, .series #breadcrumbs-menu #breadcrumbs i, .episode #breadcrumbs-menu #breadcrumbs > span:first-of-type, .episode #breadcrumbs-menu #breadcrumbs i {
  display: none;
}
.channel .authors, .series .authors, .episode .authors {
  margin-bottom: 0.25rem;
}
.channel .composition, .series .composition, .episode .composition {
  margin-top: 0;
}
.channel .city, .series .city, .episode .city {
  font-family: "Subjectivity Medium";
  font-size: 1rem;
  margin: 0.5rem 0;
}
.channel .episode-number, .series .episode-number, .episode .episode-number {
  font-family: "Subjectivity Medium";
}
.channel .button-container, .series .button-container, .episode .button-container {
  margin-right: 0.25rem;
}
.channel .credits, .series .credits, .episode .credits {
  margin-top: 3rem;
}
.channel .credits > h4, .series .credits > h4, .episode .credits > h4 {
  text-transform: uppercase;
}
.channel .desc h4 + p, .channel .episode-text h4 + p, .channel .credits h4 + p, .series .desc h4 + p, .series .episode-text h4 + p, .series .credits h4 + p, .episode .desc h4 + p, .episode .episode-text h4 + p, .episode .credits h4 + p {
  margin-top: 0;
}
.channel audio, .series audio, .episode audio {
  width: 100%;
}
.channel .download, .series .download, .episode .download {
  margin-top: 0.75rem;
}

/* MAIN */
main {
  position: relative;
  min-height: calc(100% - 65px);
  top: 65px;
  padding: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 600px) {
  main {
    min-height: calc(100% - 75px);
    top: 75px;
    padding: 20px 20px 0 20px;
  }
}
main > div:first-of-type:not(#anim):not(.audio-page) {
  margin-bottom: 2rem;
  width: 100%;
}
@media (orientation: landscape) {
  main > div:first-of-type:not(#anim):not(.audio-page) {
    width: 80%;
  }
}
main > div a:not(.channel-div):not(.website):not(.button-container):not(.not-underlined):not(.img-link) {
  position: relative;
  text-decoration: none;
  box-decoration-break: clone;
  display: inline-block;
}
main > div a:not(.channel-div):not(.website):not(.button-container):not(.not-underlined):not(.img-link)::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  height: 1px;
}
main > div a:not(.channel-div):not(.website):not(.button-container):not(.not-underlined):not(.img-link):hover::before, main > div a:not(.channel-div):not(.website):not(.button-container):not(.not-underlined):not(.img-link):focus::before, main > div a:not(.channel-div):not(.website):not(.button-container):not(.not-underlined):not(.img-link):active::before {
  animation-name: underline;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes underline {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}
main h1, main h2, main h4 {
  text-align: left;
  font-family: "Subjectivity Medium";
  font-weight: normal;
}
main h1 {
  font-size: 1.5rem;
}
main h2 {
  font-size: 1.25rem;
  margin-top: 2rem;
}
main h3 {
  font-size: 1rem;
  margin-top: 1.5rem;
}
main h4 {
  font-size: 0.9rem;
  margin-top: 1.25rem;
}
main p, main .author, main .format, main .role, main .authors, main .episode-number, main .composition {
  font-size: 0.9rem;
}
main p:not(.author):not(.format):not(.role):not(.authors) {
  line-height: 1.25;
}
@media (min-width: 600px) {
  main h1 {
    font-size: 2rem;
  }
  main h2 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
  }
  main h3 {
    font-size: 1.25rem;
    margin-top: 2rem;
  }
  main h4 {
    font-size: 1rem;
    margin-top: 1.5rem;
  }
  main p, main .author {
    font-size: 1rem;
  }
}

/* FOOTER */
footer {
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer li:first-of-type {
  width: 112px;
}
footer li:last-of-type {
  width: 78px;
  margin-left: 15px;
}
@media (min-width: 600px) {
  footer li:last-of-type {
    margin-left: 25px;
  }
}
footer ul {
  padding-left: 0;
  display: flex;
}
footer a, footer p {
  font-size: 0.8rem;
}
footer p {
  font-family: "Objectivity";
  line-height: 0;
}

/* GLOBAL */
.hide {
  display: none !important;
}

.selected {
  font-family: "Subjectivity Medium";
}

.audio main > div:first-of-type:not(#anim) {
  width: 100%;
}
.audio main > div h1 + p {
  margin-bottom: 0;
}
.audio main > div .grid .content-container {
  display: block;
}
.audio main > div .grid .pic .img-link {
  background-color: #D462FF;
}
.audio main > div .grid .pic .img-link, .audio main > div .grid .pic img {
  border-radius: 8px;
}
.audio main > div .grid a.button:hover .pic img, .audio main > div .grid a.button:active .pic img, .audio main > div .grid a.button:focus .pic img {
  filter: invert(1);
}
.audio main > div .grid a.button .title {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
}
.audio main > div .grid a.button .title h2 {
  padding: 0;
  font-size: 0;
}

.channel main > div #networks {
  margin: 0.75rem 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.channel main > div #networks li {
  margin-right: 1rem;
}
.channel main > div #channel-head div {
  margin-top: 1.5rem;
}
.channel main > div .grid #series .button-container + p, .channel main > div .grid #series .progress + p {
  margin-top: 0.5rem;
}
.channel main > div .grid #series .progress {
  display: inline-block;
  height: 1.5rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}
.channel main > div .grid .textual a.button .pic .img-link {
  background-color: #D462FF;
}
.channel main > div .grid .textual a.button .pic .img-link, .channel main > div .grid .textual a.button .pic img {
  border-radius: 8px;
}
.channel main > div .grid .textual a.button:hover .pic img, .channel main > div .grid .textual a.button:active .pic img, .channel main > div .grid .textual a.button:focus .pic img {
  filter: invert(1);
}
.channel main > div .grid .textual a.button .title {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
}
.channel main > div .grid .textual a.button .title h2 {
  padding: 0;
  font-size: 0;
}
.channel .city {
  position: absolute;
  bottom: 0;
  background-color: white;
  margin: 10px;
  padding: 5px;
}

@media (max-width: 600px) {
  .series .desc {
    margin-top: 1.5rem;
  }
}
.series .composition {
  margin-bottom: 0;
}
.series main > div .grid .textual a.button .pic .img-link {
  background-color: #D462FF;
}
.series main > div .grid .textual a.button .pic .img-link, .series main > div .grid .textual a.button .pic img {
  border-radius: 8px;
}
.series main > div .grid .textual a.button:hover .pic img, .series main > div .grid .textual a.button:active .pic img, .series main > div .grid .textual a.button:focus .pic img {
  filter: invert(1);
}
.series main > div .grid .textual a.button .title {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
}
.series main > div .grid .textual a.button .title h2 {
  padding: 0;
  font-size: 0;
}

.episode h1 {
  display: inline-block;
  margin-right: 0.25rem;
}
.episode .episode-number {
  margin: 0.5rem 0;
}
.episode .episode-text {
  margin-top: 1.5rem;
}
.episode .pic {
  width: 100%;
  margin-top: 1.5rem;
}
@media (min-width: 600px) {
  .episode .pic {
    width: 30%;
    margin-right: 25px;
  }
}
.episode .pic .img-link {
  display: flex;
  flex-direction: column;
}
.episode .pic .img-link.textual {
  background-color: white;
}
.episode .pic img {
  width: 100%;
}

.home header, .home #menu-mobile, .home .desktop #select-page {
  background-color: #A7FFFC;
}
.home main {
  padding-top: 0 !important;
  background: linear-gradient(#A7FFFC 5%, white);
  align-items: center;
}
.home #anim {
  display: flex;
  justify-content: center;
  width: 100%;
}
.home #anim svg {
  width: 100%;
}
@media (orientation: landscape) {
  .home #anim svg {
    width: 80%;
  }
}
.home #anim svg defs path {
  fill: none;
  stroke: white;
  stroke-width: 15px;
}
.home #anim svg #sonya-baseline {
  opacity: 0;
}
@media (orientation: portrait) {
  .home #anim svg #un-monde, .home #anim svg #m {
    transform: translate(330px);
  }
  .home #anim svg #de-fictions-audio, .home #anim svg #fo {
    transform: translate(-222px, 100px);
  }
}
@media (min-width: 900px) {
  .home #intro, .home #news {
    width: 80%;
  }
}
.home #intro {
  text-align: center;
}
.home #intro p, .home #news h1, .home #news h2, .home #news p {
  line-height: 1.4;
}
.home #intro p {
  font-size: 1.25rem;
}
.home #news p {
  font-size: 1rem;
}
@media (orientation: portrait) {
  .home #intro {
    margin: 3rem 0 5rem 0;
  }
}
@media (min-width: 600px) {
  .home #intro, .home #news {
    margin-bottom: 8rem;
  }
  .home #intro p, .home #news h1, .home #news h2, .home #news p {
    line-height: 1.5;
  }
  .home #intro p {
    font-size: 2rem;
  }
  .home #news p {
    font-size: 1.5rem;
  }
}
.home #news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
.home #news > ul {
  padding: 0;
}
.home #news > ul > li {
  list-style: none;
}
.home #news h1 {
  font-size: 1.5rem;
}
.home #news h2 {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 0;
}
.home #news time {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.home #news a.button {
  margin-top: 0.5rem;
}
.home #news a.button:hover, .home #news a.button:active, .home #news a.button:focus {
  color: white;
  background-color: black;
}
.home #news > ul > li {
  margin-top: 3rem;
}
.home #news .city {
  font-family: "Subjectivity Medium";
  font-size: 1rem;
  margin: 0.5rem 0 0.25rem 0;
}
@media (min-width: 600px) {
  .home #news .city {
    font-size: 1.5rem;
  }
}
.home #news .subtitle {
  font-size: 0.9rem;
  margin: 0 0 1.5rem 0;
}
@media (min-width: 600px) {
  .home #news .subtitle {
    font-size: 1.25rem;
  }
}
.home #news .pic {
  max-width: 100%;
  width: 100%;
  margin: 1.5rem 0;
}
.home #news .pic img {
  width: 100%;
}
@media (min-width: 600px) {
  .home #news .pic img {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .home #news .pic img {
    width: 25%;
  }
}
.home #news > ul > li > div:not(.pic) {
  margin-bottom: 1.5rem;
}
.home #news .new-details {
  display: none;
}
.home #news a::before {
  height: 2px;
}
.home #news > ul > li div p:not(:last-of-type) {
  margin: 1.25rem 0;
}
.home #news > ul > li div p:last-of-type {
  margin-bottom: 0;
}
.home #news .stroke {
  width: 90%;
  margin-top: 3rem;
  border-bottom: 2px solid black;
}
@media (min-width: 600px) {
  .home #news h1 {
    font-size: 2.5rem;
  }
  .home #news h2 {
    font-size: 2rem;
  }
  .home #news > ul > li {
    margin-top: 5rem;
  }
  .home #news > ul > li div p:not(:last-of-type) {
    margin: 1.5rem 0;
  }
  .home #news .stroke {
    width: 80%;
    margin-top: 5rem;
  }
}

.news header, .news #menu-mobile, .news .desktop #select-page {
  background-color: #FFAE42;
}
.news main {
  background: linear-gradient(#FFAE42 5%, white);
}
.news main > div > ul {
  padding: 0;
}
.news main > div > ul > li {
  list-style: none;
}
.news main > div > ul > li {
  margin-top: 3rem;
}
.news main > div > ul > li > div ul {
  line-height: 1.25;
}
@media (orientation: landscape) {
  .news main > div > ul > li > div ul {
    padding-left: calc(20px + 1.5rem);
  }
  .news main > div > ul > li > div ul li {
    list-style: disc;
  }
  .news main > div > ul > li > div ul li li {
    list-style: circle;
  }
}
.news .new-details {
  display: none;
}
.news li h2 {
  margin-top: 0;
}
.news .button {
  margin-top: 0.5rem;
}
.news .button:hover, .news .button:active, .news .button:focus {
  color: white;
  background-color: black;
}
.news time {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.news .city {
  font-family: "Subjectivity Medium";
  font-size: 1rem;
  margin: 0.5rem 0 0.25rem 0;
}
.news .subtitle {
  font-size: 0.9rem;
  margin: 0 0 1.5rem 0;
}
.news .pic {
  max-width: 100%;
  width: 100%;
  margin: 1.5rem 0;
}
.news .pic img {
  width: 100%;
}
@media (min-width: 600px) {
  .news .pic {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .news .pic {
    width: 25%;
  }
}
.news .stroke {
  width: 100%;
  margin-top: 2.5rem;
  border-bottom: 2px solid black;
}

.new header, .new #menu-mobile, .new .desktop #select-page {
  background-color: #FFAE42;
}
.new main {
  background: linear-gradient(#FFAE42 5%, white);
}
.new time {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.new h2 {
  margin-top: 0;
}
.new .city {
  font-family: "Subjectivity Medium";
  font-size: 1rem;
  margin: 0.5rem 0 0.25rem 0;
}
.new .subtitle {
  font-size: 0.9rem;
  margin: 0 0 1.5rem 0;
}
.new .pic {
  max-width: 100%;
  width: 100%;
  margin: 1.5rem 0;
}
.new .pic img {
  width: 100%;
}
@media (min-width: 600px) {
  .new .pic {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .new .pic {
    width: 35%;
  }
}

.about header, .about #menu-mobile, .about .desktop #select-page {
  background-color: #FFE257;
}
.about main {
  background: linear-gradient(#FFE257 5%, white);
}
.about main .accordeon h2 {
  display: inline-block;
}
@media (max-width: 600px) {
  .about main .accordeon {
    display: flex;
    align-items: baseline;
  }
  .about main .accordeon h2 {
    width: calc(100% - 1.5rem);
  }
}
.about main .more {
  font-size: 1.25rem;
  font-family: "Subjectivity";
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  line-height: 0;
  padding: 0;
}
@media (min-width: 600px) {
  .about main .more {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
.about main h3, .about main h4 {
  display: inline-block;
}
.about main h3 {
  margin-bottom: 1rem;
}
.about main h3.units {
  font-family: "Subjectivity Medium";
  font-size: 1rem;
  margin: 1.5rem 0 0 0;
}
.about main .subtitle {
  font-size: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 0;
  position: relative;
  text-decoration: none;
  box-decoration-break: clone;
  display: inline-block;
}
.about main .subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  height: 1px;
}
@media (min-width: 600px) {
  .about main .subtitle {
    margin-top: 1.5rem;
  }
}
.about main li > p {
  margin: 0.75rem 0 0 0;
}
.about main div div > p {
  margin-bottom: 0;
}
.about main #refs ul {
  margin-top: 1rem;
}
.about main .format {
  margin-top: 0;
}

.team header, .team #menu-mobile, .team .desktop #select-page {
  background-color: #82FF82;
}
.team main {
  background: linear-gradient(#82FF82 5%, white);
}
.team h1 {
  margin-bottom: 2.5rem;
}
.team .member {
  margin-top: 1.5rem;
}
.team .member div {
  display: flex;
  align-items: baseline;
}
.team .member h4 {
  margin: 0;
}
.team .member div > a {
  height: 29px;
  margin-left: 1rem;
}
.team .member div > a:hover, .team .member div > a:active, .team .member div > a:focus {
  border-bottom: 2px solid black;
}
@media (min-width: 600px) {
  .team .member div > a {
    height: 30px;
  }
}
.team .member div > a img {
  height: 20px;
}
.team .member .role {
  margin-top: 0.5rem;
}

.contact header, .contact main, .contact #menu-mobile, .contact .desktop #select-page {
  background-color: white;
}
.contact main > div > div {
  margin-top: 2rem;
}
@media (min-width: 600px) {
  .contact main > div > div {
    margin-top: 2.5rem;
  }
}

.legal-notices header, .legal-notices main, .legal-notices #menu-mobile, .legal-notices .desktop #select-page {
  background-color: white;
}
.legal-notices main h4 + p, .legal-notices main h4 + ul {
  margin-top: 0.75rem;
}
.legal-notices main .at::after {
  content: "@";
}
.legal-notices main .dot::after {
  content: ".com";
}

.sitemap header, .sitemap main, .sitemap #menu-mobile, .sitemap .desktop #select-page {
  background-color: white;
}
.sitemap main > div ul {
  margin-top: 2rem;
}
.sitemap main > div a {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 600px) {
  .sitemap main > div ul {
    margin-top: 2.5rem;
  }
  .sitemap main > div a {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* SUBJECTIVITY */
@font-face {
  font-family: "Subjectivity";
  src: url("../fonts/subjectivity-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Subjectivity";
  src: url("../fonts/subjectivity-regular-slanted.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Subjectivity";
  src: url("../fonts/subjectivity-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Subjectivity";
  src: url("../fonts/subjectivity-bold-slanted.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
/* medium */
@font-face {
  font-family: "Subjectivity Medium";
  src: url("../fonts/subjectivity-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Subjectivity Medium";
  src: url("../fonts/subjectivity-medium-slanted.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
/* OBJECTIVITY */
@font-face {
  font-family: "Objectivity";
  src: url("../fonts/objectivity-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Objectivity";
  src: url("../fonts/objectivity-regular-slanted.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Objectivity";
  src: url("../fonts/objectivity-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Objectivity";
  src: url("../fonts/objectivity-bold-slanted.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
/* medium */
@font-face {
  font-family: "Objectivity Medium";
  src: url("../fonts/objectivity-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Objectivity Medium";
  src: url("../fonts/objectivity-medium-slanted.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
.darkmode * {
  color: white;
}
.darkmode main > div a:not(.channel-title):not(.website):not(.button-container):not(.not-underlined)::before {
  background: white;
}
.darkmode button:not(.darkmode-button):not(.menu-button):not(#button-mobile), .darkmode .button {
  border: 2px solid white;
}
.darkmode button:not(.darkmode-button):not(.menu-button):not(#button-mobile):disabled {
  color: grey;
  border-color: grey;
  background-color: transparent;
}
.darkmode button:not(.darkmode-button):not(.menu-button):not(#button-mobile):hover, .darkmode button:not(.darkmode-button):not(.menu-button):not(#button-mobile):active, .darkmode button:not(.darkmode-button):not(.menu-button):not(#button-mobile):focus {
  color: black;
  background-color: white;
}
.darkmode button:not(.darkmode-button):not(.menu-button):not(#button-mobile):hover:disabled, .darkmode button:not(.darkmode-button):not(.menu-button):not(#button-mobile):active:disabled, .darkmode button:not(.darkmode-button):not(.menu-button):not(#button-mobile):focus:disabled {
  color: grey;
  border-color: grey;
  background-color: transparent;
}
.darkmode .button-container:disabled, .darkmode .audio-button:disabled {
  color: grey;
  border-color: grey;
  background-color: transparent;
}
.darkmode .button-container:hover .button, .darkmode .button-container:hover h4, .darkmode .button-container:active .button, .darkmode .button-container:active h4, .darkmode .button-container:focus .button, .darkmode .button-container:focus h4, .darkmode .audio-button:hover .button, .darkmode .audio-button:hover h4, .darkmode .audio-button:active .button, .darkmode .audio-button:active h4, .darkmode .audio-button:focus .button, .darkmode .audio-button:focus h4 {
  color: black;
  background-color: white;
}
.darkmode .button-container:hover:disabled, .darkmode .button-container:active:disabled, .darkmode .button-container:focus:disabled, .darkmode .audio-button:hover:disabled, .darkmode .audio-button:active:disabled, .darkmode .audio-button:focus:disabled {
  color: grey;
  border-color: grey;
  background-color: transparent;
}
.darkmode .button-container:hover:disabled .button, .darkmode .button-container:hover:disabled h4, .darkmode .button-container:active:disabled .button, .darkmode .button-container:active:disabled h4, .darkmode .button-container:focus:disabled .button, .darkmode .button-container:focus:disabled h4, .darkmode .audio-button:hover:disabled .button, .darkmode .audio-button:hover:disabled h4, .darkmode .audio-button:active:disabled .button, .darkmode .audio-button:active:disabled h4, .darkmode .audio-button:focus:disabled .button, .darkmode .audio-button:focus:disabled h4 {
  color: grey;
  background-color: transparent;
}
.darkmode nav button.menu-button:focus {
  color: white;
}

.home.darkmode header, .home.darkmode #menu-mobile, .home.darkmode .desktop #select-page {
  background-color: #123456;
}
.home.darkmode main {
  background: linear-gradient(#123456 5%, black);
}

.home.darkmode #anim #shapes path, .home.darkmode #anim #static path {
  fill: white;
}
.home.darkmode #news .pic.textual img {
  filter: invert(1);
}

.news.darkmode header, .news.darkmode #menu-mobile, .news.darkmode .desktop #select-page, .new.darkmode header, .new.darkmode #menu-mobile, .new.darkmode .desktop #select-page {
  background-color: #513B1C;
}
.news.darkmode main, .new.darkmode main {
  background: linear-gradient(#513B1C 5%, black);
}
.news.darkmode .pic.textual img, .new.darkmode .pic.textual img {
  filter: invert(1);
}

.news.darkmode .button:hover, .news.darkmode .button:active, .news.darkmode .button:focus {
  color: black;
  background-color: white;
}

.about.darkmode header, .about.darkmode #menu-mobile, .about.darkmode .desktop #select-page {
  background-color: #B43104;
}
.about.darkmode main {
  background: linear-gradient(#B43104 5%, black);
}
.about.darkmode button:not(.menu-button):not(#button-mobile):not(.darkmode-button).more {
  color: white;
}
.about.darkmode button:not(.menu-button):not(#button-mobile):not(.darkmode-button).more:hover, .about.darkmode button:not(.menu-button):not(#button-mobile):not(.darkmode-button).more:active, .about.darkmode button:not(.menu-button):not(#button-mobile):not(.darkmode-button).more:focus {
  color: black;
}
.about.darkmode main .subtitle::before {
  background: white;
}

.audio.darkmode header, .audio.darkmode #menu-mobile, .audio.darkmode .desktop #select-page, .channel.darkmode header, .channel.darkmode #menu-mobile, .channel.darkmode .desktop #select-page, .series.darkmode header, .series.darkmode #menu-mobile, .series.darkmode .desktop #select-page, .episode.darkmode header, .episode.darkmode #menu-mobile, .episode.darkmode .desktop #select-page {
  background-color: #4E387E;
}
.audio.darkmode main, .channel.darkmode main, .series.darkmode main, .episode.darkmode main {
  background: linear-gradient(#4E387E 5%, black);
}

.channel.darkmode main > div .grid .title, .series.darkmode main > div .grid .title {
  background-color: #4E387E;
}
.channel.darkmode main > div .grid a.button:hover .title, .channel.darkmode main > div .grid a.button:hover .img-link, .channel.darkmode main > div .grid a.button:active .title, .channel.darkmode main > div .grid a.button:active .img-link, .channel.darkmode main > div .grid a.button:focus .title, .channel.darkmode main > div .grid a.button:focus .img-link, .series.darkmode main > div .grid a.button:hover .title, .series.darkmode main > div .grid a.button:hover .img-link, .series.darkmode main > div .grid a.button:active .title, .series.darkmode main > div .grid a.button:active .img-link, .series.darkmode main > div .grid a.button:focus .title, .series.darkmode main > div .grid a.button:focus .img-link {
  background-color: #7D5ACA;
}
.channel.darkmode main > div .grid a.button:hover .title h2, .channel.darkmode main > div .grid a.button:active .title h2, .channel.darkmode main > div .grid a.button:focus .title h2, .series.darkmode main > div .grid a.button:hover .title h2, .series.darkmode main > div .grid a.button:active .title h2, .series.darkmode main > div .grid a.button:focus .title h2 {
  color: white;
}

.audio.darkmode main > div .grid a.button .pic img {
  filter: invert(1);
}
.audio.darkmode main > div .grid a.button .pic .img-link {
  background-color: #4E387E;
}
.audio.darkmode main > div .grid a.button:hover .pic .img-link, .audio.darkmode main > div .grid a.button:active .pic .img-link, .audio.darkmode main > div .grid a.button:focus .pic .img-link {
  background-color: #7D5ACA;
}

.channel.darkmode main > div .grid a.button .episode-number, .series.darkmode main > div .grid a.button .episode-number {
  color: black;
}
.channel.darkmode main > div .grid a.button .pic .img-link, .series.darkmode main > div .grid a.button .pic .img-link {
  background-color: #4E387E;
}
.channel.darkmode main > div .grid .textual a.button:hover .pic .img-link, .channel.darkmode main > div .grid .textual a.button:active .pic .img-link, .channel.darkmode main > div .grid .textual a.button:focus .pic .img-link, .series.darkmode main > div .grid .textual a.button:hover .pic .img-link, .series.darkmode main > div .grid .textual a.button:active .pic .img-link, .series.darkmode main > div .grid .textual a.button:focus .pic .img-link {
  background-color: #7D5ACA;
}
.channel.darkmode main > div .grid .textual a.button .pic img, .series.darkmode main > div .grid .textual a.button .pic img {
  filter: invert(1);
}

.series.darkmode .episode-number {
  color: black;
}

.team.darkmode header, .team.darkmode #menu-mobile, .team.darkmode .desktop #select-page {
  background-color: #254117;
}
.team.darkmode main {
  background: linear-gradient(#254117 5%, black);
}
.team.darkmode div > a:hover, .team.darkmode div > a:active, .team.darkmode div > a:focus {
  border-bottom: 2px solid white;
}
.team.darkmode .audio-button:hover:disabled h4, .team.darkmode .audio-button:active:disabled h4, .team.darkmode .audio-button:focus:disabled h4 {
  color: grey;
}
.team.darkmode .audio-button:disabled h4 {
  color: grey;
}

.legal-notices.darkmode header, .legal-notices.darkmode #menu-mobile, .legal-notices.darkmode .desktop #select-page, .sitemap.darkmode header, .sitemap.darkmode #menu-mobile, .sitemap.darkmode .desktop #select-page, .default.darkmode header, .default.darkmode #menu-mobile, .default.darkmode .desktop #select-page, .contact.darkmode header, .contact.darkmode #menu-mobile, .contact.darkmode .desktop #select-page {
  background-color: black;
}
.legal-notices.darkmode main, .sitemap.darkmode main, .default.darkmode main, .contact.darkmode main {
  background: black;
}

/*# sourceMappingURL=stylesheet.css.map */
