.about {

    header, #menu-mobile, .desktop #select-page {
        background-color: $light-yellow;
    }

    main {
        background: linear-gradient($light-yellow 5%, $alt-color);

        .accordeon {

            h2 {
                display: inline-block;
            }

            @media (max-width: 600px) {
                display: flex;
                align-items: baseline;
                h2 {
                    width: calc(100% - 1.5rem);
                }
            }
        }

        .more {
            font-size: 1.25rem;
            font-family: $font;
            width: 1.25rem;
            height: 1.25rem;
            margin-left: 0.5rem;
            border-radius: 50%;
            line-height: 0;
            padding: 0;
            @media (min-width: 600px) {
                font-size: 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        h3, h4 {
            display: inline-block;
        }

        h3 {
            margin-bottom: 1rem;
            &.units {
                    font-family: 'Subjectivity Medium';
                    font-size: 1rem;
                    margin: 1.5rem 0 0 0;
            }
        }

        .subtitle {
            font-size: 1rem;
            margin-top: 1.25rem;
            margin-bottom: 0;
            position: relative;
            text-decoration: none;
            box-decoration-break: clone;
            display: inline-block;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: $color;
                height: 1px;
            }
            @media (min-width: 600px) {
                margin-top: 1.5rem;
            }
        }

        li {
            & > p {
                margin: 0.75rem 0 0 0;
            }
        }

        div div > p {
            margin-bottom: 0;
        }

        #refs {
            ul {
                margin-top: 1rem;
            }
        }

        .format {
            margin-top: 0;
        }
    }

}
