.audio {

    main > div {

        &:first-of-type:not(#anim) {
            width: 100%;
        }

        h1 + p {
            margin-bottom: 0;
        }

        .grid {

            .content-container {
                display: block;
            }

            .pic {
                .img-link {
                    background-color: $light-purple;
                }
                .img-link, img {
                    border-radius: 8px;
                }
            }

            a.button {
                &:hover, &:active, &:focus {
                    .pic img {
                        filter: invert(1);
                    }
                }
                .title {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    padding: 0;
                    h2 {
                        padding: 0;
                        font-size: 0;
                    }
                }
            }

        }

    }

}
