.channel {

    main > div {

        #networks {
            margin: 0.75rem 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li {
                margin-right: 1rem;
            }
        }

        #channel-head div {
            margin-top: 1.5rem;
        }

        .grid {

            #series {
                .button-container + p, .progress + p {
                    margin-top: 0.5rem;
                }
                .progress {
                    display: inline-block;
                    height: 1.5rem;
                    vertical-align: middle;
                    margin-left: 0.5rem;
                }
            }

            .textual {
                a.button {
                    .pic {
                        .img-link {
                            background-color: $light-purple;
                        }
                        .img-link, img {
                            border-radius: 8px;
                        }
                    }
                    &:hover, &:active, &:focus {
                        .pic img {
                            filter: invert(1);
                        }
                    }
                    .title {
                        opacity: 0;
                        width: 0;
                        height: 0;
                        padding: 0;
                        h2 {
                            padding: 0;
                            font-size: 0;
                        }
                    }
                }
            }

        }

    }

    .city {
        position: absolute;
        bottom: 0;
        background-color: $alt-color;

        margin: 10px;
        padding: 5px;
    }

}
