.contact {

    header, main, #menu-mobile, .desktop #select-page {
        background-color: $alt-color;
    }

    main > div > div {
        margin-top: 2rem;
        @media (min-width: 600px) {
            margin-top: 2.5rem;
        }
    }


}
