.episode {

    h1 {
        display: inline-block;
        margin-right: 0.25rem;
    }

    .episode-number {
        margin: 0.5rem 0;
    }

    .episode-text {
        margin-top: 1.5rem;
    }

    .pic {
        width: 100%;
        margin-top: 1.5rem;
        @media(min-width: 600px) {
            width: 30%;
            margin-right: 25px;
        }
        .img-link {
            display: flex;
            flex-direction: column;
            &.textual {
                background-color: $alt-color;
            }
        }
        img {
            width: 100%;
        }
    }

}
