.home {

    header, #menu-mobile, .desktop #select-page {
        background-color: $light-blue;
    }

    main {
        padding-top: 0 !important;
        background: linear-gradient($light-blue 5%, $alt-color);
        align-items: center;
    }

    #anim {
        display: flex;
        justify-content: center;
        width: 100%;
        svg {
            width: 100%;
            @media (orientation: landscape) {
                width: 80%;
            }
            defs path {
                fill: none;
                stroke: $alt-color;
                stroke-width: 15px;
            }
            #sonya-baseline {
                opacity: 0;
            }
            @media (orientation: portrait) {
                #un-monde, #m {
                    transform: translate(330px);
                }
                #de-fictions-audio, #fo {
                    transform: translate(-222px, 100px);
                }
            }
        }
    }

    #intro, #news {
        @media (min-width: 900px) {
            width: 80%;
        }
    }

    #intro {
        text-align: center;
    }

    #intro p, #news h1, #news h2, #news p {
        line-height: 1.4;
    }

    #intro p {
        font-size: 1.25rem;
    }

    #news p {
        font-size: 1rem;
    }

    // #intro p, #news p:last-of-type {
    //     margin: 0;
    // }


    @media (orientation: portrait) {
        #intro {
            margin: 3rem 0 5rem 0;
        }
    }

    @media (min-width: 600px) {

        #intro, #news {
            margin-bottom: 8rem;
        }

        #intro p, #news h1, #news h2, #news p {
            line-height: 1.5;
        }

        #intro p {
            font-size: 2rem;
        }
        #news p {
            font-size: 1.5rem;
        }
    }

    #news {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        margin-bottom: 5rem;
        // margin: 5rem 0;
        // margin: 0;

        & > ul {
            padding: 0;
            & > li {
                list-style: none;
            }
        }


        h1  {
            // display: inline-block;
            font-size: 1.5rem;
            // border: 2px solid $color;
            // padding: 5px 15px;
            // border-radius: 15px;
        }

        h2 {
            font-size: 1.25rem;
            text-align: center;
            margin-top: 0;
        }

        time {
            display: block;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
        }

        a.button {
            margin-top: 0.5rem;
            &:hover, &:active, &:focus {
                color: $alt-color;
                background-color: $color;
            }
        }

        & > ul > li {
            margin-top: 3rem;
        }

        .city {
            font-family: 'Subjectivity Medium';
            font-size: 1rem;
            margin: 0.5rem 0 0.25rem 0;
            @media (min-width: 600px) {
                font-size: 1.5rem;
            }
        }

        .subtitle {
            font-size: 0.9rem;
            margin: 0 0 1.5rem 0;
            @media (min-width: 600px) {
                font-size: 1.25rem;
            }
        }

        .pic {
            max-width: 100%;
            width: 100%;
            margin: 1.5rem 0;
            img {
                width: 100%;
                @media (min-width: 600px) {
                    width: 50%;
                }
                @media (min-width: 900px) {
                    width: 25%;
                }
            }
        }

        & > ul > li > div:not(.pic) {
            margin-bottom: 1.5rem;
        }

        .new-details {
            display: none;
        }

        a {
            &::before {
                height: 2px;
            }
        }

        // p:not(:last-of-type) {
        //     margin: 1.25rem 0;
        // }

        & > ul > li div p:not(:last-of-type) {
            margin: 1.25rem 0;
        }

        & > ul > li div p:last-of-type {
            margin-bottom: 0;
        }


        .stroke {
            width: 90%;
            margin-top: 3rem;
            border-bottom: 2px solid $color;
        }

        @media (min-width: 600px) {
            // margin: 8rem 0;

            h1 {
                font-size: 2.5rem;
            }

            h2 {
                font-size: 2rem;
            }

            & > ul > li {
                margin-top: 5rem;
            }

            // p:not(:last-of-type) {
            //     margin: 1.5rem 0;
            // }

            & > ul > li div p:not(:last-of-type) {
                margin: 1.5rem 0;
            }

            .stroke {
                width: 80%;
                margin-top: 5rem;
            }
        }
    }
}
