.legal-notices {

    header, main, #menu-mobile, .desktop #select-page {
        background-color: $alt-color;
    }

    main {

        h4 + p, h4 + ul {
            margin-top: 0.75rem;
        }

        .at::after {
            content: '@';
        }
        .dot::after {
            content: '.com';
        }

    }

}
