.news {

    header, #menu-mobile, .desktop #select-page {
        background-color: $light-orange;
    }

    main {
        background: linear-gradient($light-orange 5%, $alt-color);
    }

    main > div > ul {
        padding: 0;
    }

    main > div > ul > li {
        list-style: none;
    }

    main > div > ul > li {
        margin-top: 3rem;
        // @media (min-width: 600px) {
        //     margin-top: 2.5rem;
        // }
    }

    main > div > ul > li > div {
        ul {
            line-height: 1.25;
            @media (orientation: landscape) {
                padding-left: calc(20px + 1.5rem);
                li {
                    list-style: disc;
                    li {
                        list-style: circle;
                    }
                }
            }
        }
    }

    .new-details {
        display: none;
    }

    li h2 {
        margin-top: 0;
    }

    .button {
        margin-top: 0.5rem;
        &:hover, &:active, &:focus {
            color: $alt-color;
            background-color: $color;
        }
    }

    time {
        display: block;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    .city {
        font-family: 'Subjectivity Medium';
        font-size: 1rem;
        margin: 0.5rem 0 0.25rem 0;
    }

    .subtitle {
        font-size: 0.9rem;
        margin: 0 0 1.5rem 0
    }

    .pic {
        max-width: 100%;
        width: 100%;
        margin: 1.5rem 0;
        img {
            width: 100%;
        }
        @media (min-width: 600px) {
            width: 50%;
        }
        @media (min-width: 900px) {
            width: 25%;
        }
    }

    .stroke {
        width: 100%;
        margin-top: 2.5rem;
        border-bottom: 2px solid $color;
    }


}
