.new {

    header, #menu-mobile, .desktop #select-page {
        background-color: $light-orange;
    }

    main {
        background: linear-gradient($light-orange 5%, $alt-color);
    }

    time {
        display: block;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        margin-top: 0;
    }

    .city {
        font-family: 'Subjectivity Medium';
        font-size: 1rem;
        margin: 0.5rem 0 0.25rem 0;
    }

    .subtitle {
        font-size: 0.9rem;
        margin: 0 0 1.5rem 0
    }

    .pic {
        max-width: 100%;
        width: 100%;
        margin: 1.5rem 0;
        img {
            width: 100%;
        }
        @media (min-width: 600px) {
            width: 50%;
        }
        @media (min-width: 900px) {
            width: 35%;
        }
    }

}
