.series {

    @media (max-width: 600px) {

        .desc {
            margin-top: 1.5rem;
        }

    }

    .composition {
        margin-bottom: 0;
    }

    // .title {
    //     justify-content: flex-start;
    // }

    main > div {
        .grid {
            .textual {
                a.button {
                    .pic {
                        .img-link {
                            background-color: $light-purple;
                        }
                        .img-link, img {
                            border-radius: 8px;
                        }
                    }
                    &:hover, &:active, &:focus {
                        .pic img {
                            filter: invert(1);
                        }
                    }
                    .title {
                        opacity: 0;
                        width: 0;
                        height: 0;
                        padding: 0;
                        h2 {
                            padding: 0;
                            font-size: 0;
                        }
                    }
                }
            }
        }
    }

}
