.sitemap {

    header, main, #menu-mobile, .desktop #select-page {
        background-color: $alt-color;
    }

    main > div {

        ul {
            margin-top: 2rem;
        }

        a {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        @media (min-width: 600px) {
            ul {
                margin-top: 2.5rem;
            }
            a {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
    }
}
