.team {

    header, #menu-mobile, .desktop #select-page {
        background-color: $light-green;
    }

    main {
        background: linear-gradient($light-green 5%, $alt-color);
    }

    h1 {
        margin-bottom: 2.5rem;
    }

    .member {
        margin-top: 1.5rem;

        div {
            display: flex;
            align-items: baseline;
        }

        h4 {
            margin: 0;
        }

        div > a {
            height: 29px;
            margin-left: 1rem;
            &:hover, &:active, &:focus {
                border-bottom: 2px solid $color;
            }
            @media (min-width: 600px) {
                height: 30px;
            }
            img {
                height: 20px;
            }
        }

        .role {
            margin-top: 0.5rem;
        }


    }


}
