html, body {
    width: 100%;
    height: 100%;
}

header, main, footer, nav {
    width: 100%;
}

header, footer, nav ul, .channel #networks, .channel #series, .series ul {
    li {
        list-style: none;
    }
}

header ul, footer ul, .channel #networks, .channel #series ul, .series ul {
    padding-left: 0;
}

header, footer, #breadcrumbs {
    a {
        text-decoration: none;
    }
}

header, footer {
    a:not(.selected) {
        font-family: $alt-font;
        &:hover, &:active, &:focus {
            font-family: $med-alt-font;
        }
    }
}

#breadcrumbs a {
    font-family: $alt-font;
    &:hover, &:active, &:focus {
        & > span {
            font-family: $med-alt-font;
        }
    }

}

#button-mobile, .darkmode-button {
    cursor: pointer;
}


/*  HEADER */

header {
    position: fixed;
    height: 65px;
    top: 0;
    z-index: 1;
    @media (min-width: 600px) {
        height: 75px;
    }
}

nav, nav > ul {
    display: flex;
}

nav {
    padding: 15px;
    justify-content: space-between;
    @media (min-width: 600px) {
        padding: 10px 20px;
    }
}


nav > ul {
    justify-content: space-between;
    align-items: center;
    &:first-of-type > li:not(:first-of-type) {
        margin-left: 15px;
        @media (min-width: 600px) {
            margin-left: 25px;
        }
    }
}

#logo {
    margin-top: -2px;
    img {
        height: 40px;
    }
    @media (min-width: 600px) {
        margin-top: 0;
        img {
            height: 50px;
        }
    }
}

.desktop:first-of-type {
    & > li {
        &:first-of-type {
            width: 47px;
        }
        &:nth-of-type(2) {
            width: 74px;
            white-space: nowrap;
        }
        &:nth-of-type(3) {
            width: 64px;
        }
        &:nth-of-type(4) {
            width: 90px;
            white-space: nowrap;
        }
        &:last-of-type {
            width: 68px;
        }
    }
}

nav button.menu-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover, &:active, &:focus {
        font-family: $med-alt-font;
    }
}

nav button.menu-button {
    &:focus {
        color: black;
    }
}

.desktop #select-page {
    position: absolute;
    margin-top: 0.5rem;
    text-align: left;
    padding: 0 10px;
    margin-left: -10px;
    li {
        margin-bottom: 0.5rem;
    }
}

.desktop .fb-button, .desktop .in-button, .desktop .li-button, .desktop .darkmode-button {
    margin: 0 0 0 25px;
}

.mobile .fb-button, .mobile .in-button, .mobile .li-button, .mobile .darkmode-button {
    margin: 0;
}

.fb-button, .in-button, .li-button, .darkmode-button {
    background-color: transparent;
    border: none;
    img {
        height: 20px;
    }
}

#button-mobile {
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-right: 15px;
    @media (min-width: 600px) {
        margin-top: 12px;
        margin-right: 20px;
    }
}

#menu-mobile {
    // display: flex;
    // justify-content: space-between;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    line-height: 1.75;
    padding: 15px;
    @media (min-width: 600px) {
        padding: 20px;
    }
}

.mobile {
    padding: 0;

    &:last-of-type {
        // height: 1.75rem;
        // li:first-of-type {
        //     margin-right: 15px;
        // }
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    a, .menu-button {
        font-size: 1.25rem;
    }
    p {
        margin: 0;
    }
    #select-page li {
        list-style: inside;
        list-style-type: circle;
        margin-left: 1.5rem;
    }
}

@media (min-width: 900px) {
    #menu-mobile, #button-mobile {
        display: none;
    }
}

@media (max-width: 899px) {
    .desktop {
        display: none;
    }
}


/* AUDIO */

.audio, .channel, .series, .episode {
    header, #menu-mobile, .desktop #select-page {
        background-color: $light-purple;
    }

    main {
        background: linear-gradient($light-purple 5%, $alt-color);
    }

    .authors {
        margin-top: 0.5rem;
    }
}

.channel, .series {

    a.button {
        position: relative;
    }

    .pic {
        .img-link {
            background-color: $pic-purple;
        }
        img {
            mix-blend-mode: screen;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    }

    main > div > .grid .textual {
        a.button .pic .img-link img {
            mix-blend-mode: normal;
            -webkit-filter: none;
            filter: none;
        }
    }

    .episode-number {
        position: absolute;
        bottom: 0;
        background-color: $alt-color;

        margin: 10px;
        padding: 5px;

        // padding: 10px;
        // border-radius: 0 0 0 8px;
    }
}

.audio, .channel, .series {
    main > div {
        margin-bottom: 2rem;
        .header {
            width: 100%;
            @media (orientation: landscape) {
                width: 80%;
            }
        }
        .grid {

            ul {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
                grid-auto-rows: var(--width);
                grid-gap: 20px;
                margin-top: 3rem;
                padding: 0;
                li {
                    display: block;
                    list-style: none;
                    // &:not(:first-of-type) {
                    //     margin-top: 1.5rem;
                    // }
                    // @media (min-width: 450px) {
                    //     &:not(:first-of-type) {
                    //         margin-top: 0;
                    //     }
                    // }
                }
            }

            .textual a.button, a.button {
                width: 100%;
                height: 100%;
                padding: 0;
                display: block;
                text-decoration: none;
                border-radius: 10px;
                // overflow: hidden;
                .content-container, .pic, .pic .img-link {
                    margin: 0;
                    width: 100%;
                    height: 100%;
                }
                &:hover, &:active, &:focus {
                    .title {
                        background-color: $pic-purple;
                    }
                    .pic .img-link {
                        background-color: #670E88;

                    }
                    .title h2 {
                        color: $alt-color;
                    }
                }
            }

            .content-container {
                display: flex;
                flex-direction: column;
            }
            .pic {
                .img-link, img {
                    border-radius: 0 0 8px 8px;
                }
                .img-link {
                    display: block;
                    position: relative;
                }
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: block;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .title {
                width: 100%;
                display: flex;
                justify-content: center;
                justify-content: flex-start;
                align-items: center;
                background-color: $light-purple;
                border-radius: 8px 8px 0 0;
                h2 {
                    // text-align: center;
                    padding: 10px;
                    margin: 0;
                }
            }

        }
    }
}

// .audio, .channel, .series, .episode {
//     header, #menu-mobile, .desktop #select-page {
//         background-color: $light-purple;
//     }
//
//     main {
//         background: linear-gradient($light-purple 5%, $alt-color);
//     }
//
    // .authors {
    //     margin-top: 0.5rem;
    // }

    // .channel-div > div, .content-container {
    //     @media(min-width: 600px) {
    //         display: flex;
    //         justify-content: flex-start;
    //         align-items: flex-start;
    //     }
    // }

    // .content-container {
    //     margin-top: 1.5rem;
    // }
    //
    // .button {
    //     margin-top: 3rem;
    // }

    // .desc {
    //     margin: 1rem 0 0 0;
    //     @media(min-width: 600px) {
    //         width: 70%;
    //         margin-top: 0;
    //     }
    //     &.fullwidth {
    //         width: 100%
    //     }
    //     p:first-of-type {
    //         margin-top: 0;
    //     }
    // }
// }

.channel, .series, .episode {

    header li:nth-of-type(3) a {
        font-family: $med-font;
    }

    #breadcrumbs-menu {
        margin-bottom: 2.5rem;

        #breadcrumbs {
            height: auto;
            line-height: 1.5rem;
            padding: 0;
            span {
                padding: 0;
            }

            & > span:not(:last-of-type) {
                &::after {
                    content: '>';
                    margin: 0 0.5rem 0 0.25rem;
                    @media (min-width: 600px) {
                        margin: 0 0.75rem 0 0.5rem;
                    }
                }
            }

            & > span:first-of-type, i {
                display: none;

            }

        }
    }

    .authors {
        margin-bottom: 0.25rem;
    }

    .composition {
        margin-top: 0;
    }

    .city {
        font-family: 'Subjectivity Medium';
        font-size: 1rem;
        margin: 0.5rem 0
    }

    .episode-number {
        // margin: 0.75rem 0 0 0;
        font-family: $med-font;
    }

    .button-container {
        margin-right: 0.25rem;
    }

    .credits {
        margin-top: 3rem;
        & > h4 {
            text-transform: uppercase;
        }
    }

    .desc, .episode-text, .credits {
        h4 + p {
            margin-top: 0;
        }
    }

    audio {
        width: 100%;
    }

    .download {
        margin-top: 0.75rem;
    }

}


/* MAIN */

main {
    position: relative;
    min-height: calc(100% - 65px);
    top: 65px;
    padding: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 600px) {
        min-height: calc(100% - 75px);
        top: 75px;
        padding: 20px 20px 0 20px;
    }

    & > div:first-of-type:not(#anim):not(.audio-page) {
        margin-bottom: 2rem;
        width: 100%;
        @media (orientation: landscape) {
            width: 80%;
        }
    }

    & > div {
        a:not(.channel-div):not(.website):not(.button-container):not(.not-underlined):not(.img-link) {
            position: relative;
            text-decoration: none;
            box-decoration-break: clone;
            display: inline-block;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: $color;
                height: 1px;
            }
            &:hover, &:focus, &:active {
                &::before {
                    animation-name: underline;
                    animation-duration: 0.5s;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    @keyframes underline {
        from {
            right: 100%;
        }
        to {
            right: 0;
        }
    }

    h1, h2, h4 {
        text-align: left;
        font-family: $med-font;
        font-weight: normal;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
        margin-top: 2rem;
    }

    h3 {
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    h4 {
        font-size: 0.9rem;
        margin-top: 1.25rem;
    }

    p, .author, .format, .role, .authors, .episode-number, .composition {
        font-size: 0.9rem;
    }

    p:not(.author):not(.format):not(.role):not(.authors) {
        line-height: 1.25;
    }

    @media (min-width: 600px) {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
            margin-top: 2.5rem;
        }

        h3 {
            font-size: 1.25rem;
            margin-top: 2rem;
        }

        h4 {
            font-size: 1rem;
            margin-top: 1.5rem;
        }

        p, .author {
            font-size: 1rem;
        }
    }
}


/* FOOTER */

footer {
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    li:first-of-type {
        width: 112px;
    }
    li:last-of-type {
        width: 78px;
        margin-left: 15px;
        @media(min-width: 600px) {
            margin-left: 25px;
        }
    }
    ul {
        padding-left: 0;
        display: flex;
    }
    a, p {
        font-size: 0.8rem;
    }
    p {
        font-family: $alt-font;
        line-height: 0;
    }
}


/* GLOBAL */

.hide {
    display: none !important;
}

.selected {
    font-family: $med-font;
}
