@import 'partials/vars';
@import 'partials/reset';
@import 'default';

@import 'audio';
@import 'channel';
@import 'series';
@import 'episode';

@import 'home';
@import 'news';
@import 'new';
@import 'about';
@import 'team';
@import 'contact';
@import 'legal-notices';
@import 'sitemap';

@import 'partials/fonts';


.darkmode {
    * {
        color: $alt-color;
    }

    main > div a:not(.channel-title):not(.website):not(.button-container):not(.not-underlined)::before {
        background: $alt-color;
    }

    button:not(.darkmode-button):not(.menu-button):not(#button-mobile), .button {
        border: 2px solid $alt-color;
    }

    button:not(.darkmode-button):not(.menu-button):not(#button-mobile) {
        &:disabled {
            color: grey;
            border-color: grey;
            background-color: transparent;
        }
        &:hover, &:active, &:focus {
            color: $color;
            background-color: $alt-color;
            &:disabled {
                color: grey;
                border-color: grey;
                background-color: transparent;
            }
        }
    }

    .button-container, .audio-button {
        &:disabled {
            color: grey;
            border-color: grey;
            background-color: transparent;
        }
        &:hover, &:active, &:focus {
            .button, h4 {
                color: $color;
                background-color: $alt-color;
            }
            &:disabled {
                color: grey;
                border-color: grey;
                background-color: transparent;
                .button, h4 {
                    color: grey;
                    background-color: transparent;
                }
            }
        }
    }

    nav button.menu-button {
        &:focus {
            color: white;
        }
    }

}

.home.darkmode {
    header, #menu-mobile, .desktop #select-page {
        background-color: $dark-blue;
    }
    main {
        background: linear-gradient($dark-blue 5%, $color);
    }
}

.home.darkmode {

    #anim {
        #shapes, #static {
            path {
                fill: white;
            }
        }
    }

    #news .pic.textual img {
        filter: invert(1);
    }

}

.news.darkmode, .new.darkmode {
    header, #menu-mobile, .desktop #select-page {
        background-color: $dark-orange;
    }
    main {
        background: linear-gradient($dark-orange 5%, $color);
    }
    .pic.textual img {
        filter: invert(1);
    }
}

.news.darkmode {
    .button {
        &:hover, &:active, &:focus {
            color: $color;
            background-color: $alt-color;
        }
    }
}


.about.darkmode {
    header, #menu-mobile, .desktop #select-page {
        background-color: $dark-yellow;
    }
    main {
        background: linear-gradient($dark-yellow 5%, $color);
    }
    button:not(.menu-button):not(#button-mobile):not(.darkmode-button).more {
        color: $alt-color;
        &:hover, &:active, &:focus {
            color: $color;
        }
    }
    main .subtitle::before {
        background: $alt-color;
    }
}

.audio.darkmode, .channel.darkmode, .series.darkmode, .episode.darkmode {
    header, #menu-mobile, .desktop #select-page {
        background-color: $dark-purple;
    }
    main {
        background: linear-gradient($dark-purple 5%, $color);
    }
}

.channel.darkmode, .series.darkmode {
    main > div {
        .grid {
            .title {
                background-color: $dark-purple;
            }
            a.button {
                &:hover, &:active, &:focus {
                    .title, .img-link {
                        background-color: #7D5ACA;
                    }
                    .title h2 {
                        color: $alt-color;
                    }
                }
            }
        }

    }
}

.audio.darkmode {
    main > div .grid {
        a.button {
            .pic img {
                filter: invert(1);
            }
            .pic {
                .img-link {
                    background-color: $dark-purple;
                }
            }
            &:hover, &:active, &:focus {
                .pic .img-link {
                    background-color: #7D5ACA;
                }
            }
        }
    }
}

.channel.darkmode, .series.darkmode {
    main > div {
        .grid {
            a.button {
                .episode-number {
                    color: $color;
                }
                .pic {
                    .img-link {
                        background-color: $dark-purple;
                    }
                }
            }
            .textual {
                a.button {
                    &:hover, &:active, &:focus {
                        .pic .img-link {
                            background-color: #7D5ACA;
                        }
                    }
                    .pic img {
                        filter: invert(1);
                    }
                }
            }
        }
    }
}

.series.darkmode .episode-number {
    color: $color;
}


.team.darkmode {
    header, #menu-mobile, .desktop #select-page {
        background-color: $dark-green;
    }
    main {
        background: linear-gradient($dark-green 5%, $color);
    }
    div > a {
        &:hover, &:active, &:focus {
            border-bottom: 2px solid $alt-color;
        }
    }
    .audio-button {
        &:hover, &:active, &:focus {
            &:disabled {
                h4 {
                    color: grey;
                }
            }
        }
        &:disabled {
            h4 {
                color: grey;
            }
        }
    }
}

.legal-notices.darkmode, .sitemap.darkmode, .default.darkmode, .contact.darkmode {
    header, #menu-mobile, .desktop #select-page {
        background-color: $color;
    }
    main {
        background: $color;
    }
}
