{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% include 'partials/metadata.html.twig' %}
    <meta property="og:title" content="{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}">
    <meta property="og:image" content="{% if header.image %}{{ url(page.media[header.image].cropZoom(1200, 628).url, true) }}{% else %}{{ url('', true) }}{% endif %}">
    <meta name="description" content="{{ site.metadata.description }}">
    <meta name="keywords" content="{{ site.metadata.keywords }}">

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/stylesheet.css') %}
    {% endblock %}
    {{ assets.css() }}

{% endblock head %}
</head>
<body class="{{ page.header.body_classes }}">

{% block page %}
{% block content %}
{% endblock %}
{% endblock %}

{% block javascripts %}
{% endblock %}
{{ assets.js() }}

</body>
</html>
