{% if item.header.schedule %}
    <time datetime="{{ item.header.date|date('c') }}">
        {{ grav.language.getActive == 'fr' ? [item.header.date|date('d'), 'MONTHS'|ta(item.header.date|date('n') -1), item.header.date|date('Y') ]|join(' ') : ['MONTHS'|ta(item.header.date|date('n') -1), item.header.date|date('d')~ ',', item.header.date|date('Y') ]|join(' ') }}
    </time>
{% endif %}
<h2>{{ item.title }}</h2>
{% if item.header.city %}<p class="city">{{ item.header.city }}</p>{% endif %}
{% if item.header.subtitle %}<p class="subtitle">{{ item.header.subtitle }}</p>{% endif %}

{% if item.media.images %}
  {% for image in item.media.images %}
      <div class="pic {% if item.header.textual %}textual{% endif %}">
          {% if page.slug == 'home' or page.slug == 'news' %}
            <div class="img-link">{{ image.html() }}</div>
          {% else %}
            <a class="not-underlined" href="{{ image.url }}">{{ image.html() }}</a>
          {% endif %}
      </div>
  {% endfor %}
{% endif %}

<div>{{ item.content|truncate(450)|raw|markdown }}</div>
{% if item.header.details %}
    <div class="new-details">
        {{ item.header.details|raw|markdown }}
    </div>
{% endif %}

<a class="button-container button" href="{{ item.url }}">{{ "NEWS.POST"|t }}</a>
