{% if (series|length > 0) %}

<ul>
    {% for s in series %}
        <li>

            {% if s.header.progress %}
                <h2 class="button">{{ s.title }}</h2><span class="progress">{{ "AUDIO.PROGRESS"|t }}</span>
            {% else %}
            <a class="button-container"href="{{ s.url }}"><h2 class="button">{{ s.title }}</h2></a>
            {% endif %}

            {% if s.header.authors %}<p class="authors">{{ s.header.authors }}</p>{% endif %}
            {% if s.header.composition %}<p class="composition">{{ s.header.composition }}</p>{% endif %}

            <div class="content-container">
                {% if (s.header.series.image) %}
                    <div class="pic">
                        <div class="img-link">{{ s.media[s.header.series.image].html }}</div>
                    </div>
                {% endif %}
                {% if s.content %}
                <div class="desc {% if not s.header.series.image %}fullwidth{% endif %}">
                    {{ s.content|truncate(500)|raw|markdown }}
                </div>
                {% endif %}
            </div>

        </li>
    {% endfor %}
</ul>

{% endif %}
