<div>
    {% if (episodes|length > 0)%}

    <ul>
        {% for e in episodes %}

            <li>
                <div>
                    <a class="button-container" href="{{ e.url }}"><h2 class="button">{{ e.title }}</h2></a>
                    {% if (e.header.podcast.audio.meta.duration) %}
                        <small>({{ e.header.podcast.audio.meta.duration }})</small>
                    {% endif %}
                </div>
                {% if e.header.podcast.episode_number %}<p class="episode-number">{{ "AUDIO.EPISODE"|t }} {{ e.header.podcast.episode_number }}</p>{% endif %}
                {% if e.header.city %}<p class="city">{{ e.header.city }}</p>{% endif %}
                {% if e.header.authors %}<p class="authors">{{ e.header.authors }}</p>{% endif %}

                <div class="content-container">
                    {% if (e.header.podcast.picked_image) %}
                    <div class="pic">
                        <div class="img-link">{{ e.media[e.header.podcast.picked_image].html }}</div>
                        <div>
                            {% if (e.header.podcast.audio.meta.guid) %}
                            <div class="audio">
                                <audio controls="1" alt="{{ episode.title }}"><source src="{{ e.header.podcast.audio.meta.guid }}">{{ 'PLUGIN_PODCAST.EPISODE_CONTENT.WARNING'|t|e }}</audio></br>
                                    {% if page.parent.slug == "balades-sonores" %}
                                        <a class="download" href="{{ e.header.podcast.audio.meta.guid }}" download>{{ "AUDIO.DOWNLOAD"|t }}</a>
                                    {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% if e.content %}
                        <div class="desc">
                            {{ e.content|truncate(500)|raw|markdown }}
                        </div>
                    {% endif %}
                </div>


            </li>

        {% endfor %}
    </ul>


    {% endif %}

</div>
