/* SUBJECTIVITY */

@font-face {
    font-family: 'Subjectivity';
    src: url('../fonts/subjectivity-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Subjectivity';
    src: url('../fonts/subjectivity-regular-slanted.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Subjectivity';
    src: url('../fonts/subjectivity-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Subjectivity';
    src: url('../fonts/subjectivity-bold-slanted.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* medium */

@font-face {
    font-family: 'Subjectivity Medium';
    src: url('../fonts/subjectivity-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Subjectivity Medium';
    src: url('../fonts/subjectivity-medium-slanted.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}


/* OBJECTIVITY */

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/objectivity-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/objectivity-regular-slanted.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/objectivity-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('../fonts/objectivity-bold-slanted.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

/* medium */

@font-face {
    font-family: 'Objectivity Medium';
    src: url('../fonts/objectivity-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity Medium';
    src: url('../fonts/objectivity-medium-slanted.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
