// based on http://meyerweb.com/eric/tools/css/reset/

:root {
    font-family: $font;
    font-size: 1em;
    color: $color;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    // padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}

ul {
    padding-left: 15px;
    @media (min-width: 600px) {
        padding-left: 20px;
    }
    @media (orientation: landscape) {
        padding-left: calc(20px + 1.5rem);
    }
    li {
        list-style: disc;
        li {
            list-style: circle;
        }
    }
}

blockquote, q {
	quotes: none;
}
blockquote :first-child::before, q::before, {
	content: '« ';
}
blockquote :last-child::after, q::after {
	content: ' »';
}

p {
    margin: 1rem 0;
}

a {
    color: $color;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
    font-family: $med-font;
}

em {
    font-weight: normal;
    font-style: italic;
}

sup {
  vertical-align: super;
  font-size: 0.75rem;
}

button {
    background-color: transparent;
    &:disabled {
        background-color: transparent;
    }
}

button:not(.menu-button):not(#button-mobile):not(.darkmode-button), .button {
    display: inline-block;
    color: $color;
    border: 2px solid $color;
    font-family: $med-font;
}

button:not(.menu-button):not(#button-mobile):not(.darkmode-button):not(.more), .button {
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 1;
}

button:not(.menu-button):not(#button-mobile):not(.darkmode-button) {
    &:disabled {
        color: grey;
        border-color: grey;
    }
    &:not(:disabled) {
        cursor: pointer;
    }
    &:hover, &:active, &:focus {
        color: $alt-color;
        background-color: $color;
        &:disabled {
            color: grey;
            border-color: grey;
            background-color: transparent;
        }
    }
}

.button-container {
    text-decoration: none;
    &:hover, &:active, &:focus {
        .button {
            color: $alt-color;
            background-color: $color;
        }
    }
}
