$color: black;
$alt-color: white;
$light-blue: #A7FFFC;
$dark-blue: #123456;
$light-orange: #FFAE42;
$dark-orange: #513B1C;
$light-yellow: #FFE257;
$dark-yellow: #B43104;
$light-purple: #D462FF;
$pic-purple: #8412AF;
$dark-purple: #4E387E;
$light-green: #82FF82;
$dark-green: #254117;

$font: 'Subjectivity';
$med-font: 'Subjectivity Medium';
$alt-font: 'Objectivity';
$med-alt-font: 'Objectivity Medium';
