{% extends 'default.html.twig' %}

{% block content %}

<div class="audio-page">

    <div class="header">
        <h1>{{ page.title }}</h1>

        {% if page.content %}
        {{ page.content|markdown }}
        {% endif %}
    </div>

    <div class="grid">
        <ul>
            {% for channel in page.children %}
                <li>
                    <a href="{{ channel.url }}" class="channel-div button">
                        <div class="content-container">
                            <div class="title">
                                <h2>{{ channel.title }}</h2>
                            </div>
                            <div class="pic">
                                <div class="img-link">{{ channel.media[channel.header.picked_image].html }}</div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/audio.js') %}
{% do assets.addJs('theme://js/mosaic.js') %}
{% endblock %}
