{% extends 'default.html.twig' %}

{% block content %}

<div>

<h1>{{ page.title }}</h1>

    <div>{{ page.content }}</div>

</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/about.js') %}
{% endblock %}
