{% extends 'partials/base.html.twig' %}

{% block page %}

<header>
    <nav>
        <div id="logo" aria-hidden="true"><a href="{{ page.find('/home').url }}"><img src="{{ url('theme://images/logo.svg') }}" /></a></div>
        <ul class="desktop">
            {% for p in pages.children.visible %}
                {% if p.slug == 'about' %}
                    <li>
                        <button class="{% if p.active or p.activeChild %}selected {% endif %}menu-button" {% if p.active or p.activeChild %}aria-current="p"{% endif %} aria-expanded="false" aria-label="{{ 'ARIA.MENU'|t }}" >{{ p.title }}</button>
                        <ul id="select-page" class="hide">
                            {% for child in p.children.visible %}
                                <li>
                                    <a href="{{ child.url }}" {% if child.active %}class="selected"{% endif %}>{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% elseif p.slug != 'home' %}
                    <li><a href="{{ p.url }}" {% if p.active %}class="selected"{% endif %}>{{ p.title }}</a></li>
                {% endif %}
            {% endfor %}
            <!-- <li><a href="mailto:contactsonyapodcast">Contact</a></li> -->
        </ul>
        <ul class="desktop">
            {% if grav.language.active == 'en' %}
                <li><a href="{{ '/' ~ 'fr' ~ page.route }}">Fr</a></li>
            {% else %}
                <li><a href="{{ '/' ~ 'en' ~ page.route }}">En</a></li>
            {% endif %}
            <li><a class="fb-button" aria-label="{{ 'ARIA.FB'|t }}" href="https://www.facebook.com/sonyapodcast" target="_blank"><img src="{{ url('theme://images/fb.svg') }}" /></a></li>
            <li><a class="in-button" aria-label="{{ 'ARIA.IN'|t }}" href="https://www.instagram.com/sonyapodcast" target="_blank"><img src="{{ url('theme://images/insta.svg') }}" /></a></li>
            <li><a class="li-button" aria-label="{{ 'ARIA.LI'|t }}" href="https://www.linkedin.com/company/sonya" target="_blank"><img src="{{ url('theme://images/linkedin.svg') }}" /></a></li>
            <li><button class="darkmode-button" aria-label="{{ 'ARIA.DARKMODE'|t }}"><img src="{{ url('theme://images/darkmode.svg') }}" /></button></li>
        </ul>
        <button id="button-mobile" aria-label="{{ 'ARIA.MOBILE'|t }}">
            <img src="{{ url('theme://images/menu.svg') }}" />
        </button>
        <div id="menu-mobile" class="hide">
            <ul class="mobile">
                {% for p in pages.children.visible %}
                    {% if p.slug == 'about' %}
                        <li>
                            <button class="{% if p.active or p.activeChild %}selected {% endif %}menu-button" {% if p.active or p.activeChild %}aria-current="p"{% endif %} aria-expanded="false" aria-label="{{ 'ARIA.MENU'|t }}" >{{ p.title }}</button>
                            <ul id="select-page" class="hide">
                                {% for child in p.children.visible %}
                                    <li>
                                        <a href="{{ child.url }}" {% if child.active %}class="selected"{% endif %}>{{ child.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% elseif p.slug != 'home' %}
                        <li><a href="{{ p.url }}" {% if p.active %}class="selected"{% endif %}>{{ p.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <!-- <li><a href="mailto:contactsonyapodcast">Contact</a></li> -->
            </ul>
            <ul class="mobile">
                {% if grav.language.active == 'en' %}
                    <li><a href="{{ '/' ~ 'fr' ~ page.route }}">Fr</a></li>
                {% else %}
                    <li><a href="{{ '/' ~ 'en' ~ page.route }}">En</a></li>
                {% endif %}
                <li><a class="fb-button" aria-label="{{ 'ARIA.FB'|t }}" href="https://www.facebook.com/sonyapodcast" target="_blank"><img src="{{ url('theme://images/fb.svg') }}" /></a></li>
                <li><a class="in-button" aria-label="{{ 'ARIA.IN'|t }}" href="https://www.instagram.com/sonyapodcast" target="_blank"><img src="{{ url('theme://images/insta.svg') }}" /></a></li>
                <li><a class="li-button" aria-label="{{ 'ARIA.LI'|t }}" href="https://www.linkedin.com/company/sonya" target="_blank"><img src="{{ url('theme://images/linkedin.svg') }}" /></a></li>
                <li><button class="darkmode-button" aria-label="{{ 'ARIA.DARKMODE'|t }}"><img src="{{ url('theme://images/darkmode.svg') }}" /></button></li>
            </ul>
        </div>
    </nav>
</header>
<main>

    {% block content %}
        {% if page.template == 'default' %}
            <div>
                <h1>{{ page.title }}</h1>
                {{ page.content }}
            </div>
        {% endif %}
    {% endblock %}
    <footer>
        <div>
            <ul>
                {% for page in pages.children %}
                {% if not page.visible %}
                    <li><a href="{{ page.url }}" {% if page.active %}class="selected"{% endif %}>{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div>
            <p>© Sonya 2021</p>
        </div>
    </footer>
</main>


{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
