{% extends 'default.html.twig' %}

{% block content %}

<div id="anim">
    {% include 'anim/anim-prod.svg' %}
</div>

<div id="intro">
    {{ page.content|markdown }}
</div>

{% set news = [] %}
{% for item in page.find('/news').collection.order('date', 'desc') %}
    {% if item.header.home == 'true' %}
        {% set news = news|merge([item]) %}
    {% endif %}
{% endfor %}

{% if news|length >= 1 %}
<div id="news">

    <h1>{{ "HOME.NEWS"|t }}</h1>

    <ul>
        {% for item in news %}
        <li>
            {% include 'partials/item.html.twig' with { item: item } %}
        </li>
    {% endfor %}
    </ul>

</div>
{% endif %}

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/vendors/anime.min.js') %}
{% do assets.addJs('theme://js/anim.js') %}
{% endblock %}
