{% extends 'default.html.twig' %}

{% block content %}

<div>

    {% if page.header.schedule %}
        <time datetime="{{ page.header.date|date('c') }}">
            {{ grav.language.getActive == 'fr' ? [page.header.date|date('d'), 'MONTHS'|ta(page.header.date|date('n') -1), page.header.date|date('Y') ]|join(' ') : ['MONTHS'|ta(page.header.date|date('n') -1), page.header.date|date('d')~ ',', page.header.date|date('Y') ]|join(' ') }}
        </time>
    {% endif %}
    <h2>{{ page.title }}</h2>
    {% if page.header.city %}<p class="city">{{ page.header.city }}</p>{% endif %}
    {% if page.header.subtitle %}<p class="subtitle">{{ page.header.subtitle }}</p>{% endif %}

    {% if page.media.images %}
      {% for image in page.media.images %}
          <div class="pic">
              <a class="not-underlined" href="{{ image.url }}">{{ image.html() }}</a>
          </div>
      {% endfor %}
    {% endif %}

    <div>{{ page.content }}</div>
    {% if page.header.details %}
        <div class="new-details">
            {{ page.header.details|markdown }}
        </div>
    {% endif %}

</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/new.js') %}
{% endblock %}
