{% extends 'default.html.twig' %}

{% block content %}

<div>

    <h1>{{ page.title }}</h1>
    <ul>
        {% for item in page.find('/news').collection.order('folder', 'desc') %}

            <li>
                {% include 'partials/item.html.twig' with { item: item } %}
            </li>

        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% endblock %}
