{% extends 'default.html.twig' %}

{% block content %}

{% set episodes = page.collection({ 'items': '@self.children', 'order': {'by': 'date', 'dir': 'desc'} }).ofType('podcast-episode') %}

<div class="audio-page">

    <div id="breadcrumbs-menu">
        {% include 'partials/breadcrumbs.html.twig'%}
    </div>

        <div>
            <div class="header">
                <h1>{{ page.title }}</h1>
                {% if page.header.authors %}<p class="authors">{{ page.header.authors }}</p>{% endif %}
                {% if page.header.composition %}<p class="composition">{{ page.header.composition }}</p>{% endif %}
                {% if page.content %}<div>{{ page.content|markdown }}</div>{% endif %}
            </div>

            {% set episodes = page.collection({ 'items': '@self.children', 'order': {'by': 'date', 'dir': 'asc'}} ).ofType('podcast-episode') %}

            {% if(episodes|length > 0) %}
                <div id="episodes" class="grid">
                    <ul>

                        {% for e in episodes %}
                            <li {% if e.header.textual %} class="textual"{% endif %}>
                                <a class="button-container button" href="{{ e.url }}">
                                    <div class="content-container">
                                        <div class="title">
                                            <h2>{{ e.title }}</h2>
                                        </div>
                                        <div class="pic">
                                            <div class="img-link">{{ e.media[e.header.podcast.picked_image].html }}</div>
                                        </div>
                                    </div>
                                    {% if e.header.podcast.episode_number %}<p class="episode-number">{{ "AUDIO.EPISODE"|t }} {{ e.header.podcast.episode_number }}</p>{% endif %}
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            {% endif %}

                {% if page.header.credits %}
                    <div class="credits">
                        <h4>{{ "AUDIO.CREDITS"|t }}</h4>
                        <div>
                            {{ page.header.credits|markdown }}
                        </div>
                    </div>
                {% endif %}

        </div>

    </div>

</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/audio.js') %}
{% do assets.addJs('theme://js/mosaic.js') %}
{% endblock %}
