{% extends 'default.html.twig' %}

{% block content %}

{% set series = page.collection({ 'items': '@self.children', 'order': {'by': 'date', 'dir': 'asc'} }).ofType('podcast-series') %}

{% if page.slug == 'balades-sonores' %}
    {% set episodes = page.collection({ 'items': '@self.children', 'order': {'by': 'date', 'dir': 'asc'} }).ofType('podcast-episode') %}
{% else %}
    {% set episodes = page.collection({ 'items': '@self.children', 'order': {'by': 'date', 'dir': 'desc'} }).ofType('podcast-episode') %}
{% endif %}

<div class="audio-page">

    <div id="breadcrumbs-menu">
        {% include 'partials/breadcrumbs.html.twig'%}
    </div>

    <div id="channel-head" class="header">
        <h1>{{ page.title }}</h1>

        <ul id="networks">
            <li>
                <a aria-label="{{ 'ARIA.FEED'|t }}" href="{{ page.url ~ '.rss' }}" download>{{ "AUDIO.RSS"|t }}</a>
            </li>

            {% if page.header.soundcloud %}
            <li>
                <a aria-label="{{ 'ARIA.SOUNDCLOUD'|t }}" href="{{ page.header.soundcloud }}" target="_blank">SoundCloud</a>
            </li>
            {% endif %}

            {% if page.header.apple %}
            <li>
                <a aria-label="{{ 'ARIA.APPLE'|t }}" href="{{ page.header.apple }}" target="_blank">Apple podcast</a>
            </li>
            {% endif %}

        </ul>

        <div>{{ page.content }}</div>

    </div>

    {% if(series|length > 0 and episodes|length == 0) %}
        <div id="series" class="grid">
            <ul>

                {% for s in series %}
                    <li {% if s.header.textual %} class="textual"{% endif %}>
                        <a class="button-container button"href="{{ s.url }}">
                            <div class="content-container">
                                <div class="title">
                                    <h2>{{ s.title }}</h2>
                                </div>
                                <div class="pic">
                                    <div class="img-link">{{ s.media[s.header.series.image].html }}</div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    {% endif %}

    {% if(episodes|length > 0 and series|length == 0) %}
        <div id="episodes" class="grid">
            <ul>

                {% for e in episodes %}
                    <li {% if e.header.textual %} class="textual"{% endif %}>
                        <a class="button-container button" href="{{ e.url }}">
                            <div class="content-container">
                                <div class="title">
                                    <h2>{{ e.title }}</h2>
                                </div>
                                <div class="pic">
                                    <div class="img-link">{{ e.media[e.header.podcast.picked_image].html }}</div>
                                </div>
                            </div>
                            {% if e.header.podcast.episode_number %}<p class="episode-number">{{ "AUDIO.EPISODE"|t }} {{ e.header.podcast.episode_number }}</p>{% endif %}
                            {% if e.header.city %}<p class="city">{{ e.header.city }}</p>{% endif %}
                        </a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    {% endif %}

    {% if(episodes|length > 0 and series|length > 0) %}
    <div id="mix" class="grid">
        <ul>

            {% for s in series %}
                <li {% if s.header.textual %} class="textual"{% endif %}>
                    <a class="button-container button"href="{{ s.url }}">
                        <div class="content-container">
                            <div class="title">
                                <h2>{{ s.title }}</h2>
                            </div>
                            <div class="pic">
                                <div class="img-link">{{ s.media[s.header.series.image].html }}</div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}

            {% for e in episodes %}
            <li {% if e.header.textual %} class="textual"{% endif %}>
                <a class="button-container button" href="{{ e.url }}">
                    <div class="content-container">
                        <div class="title">
                            <h2>{{ e.title }}</h2>
                        </div>
                        <div class="pic">
                            <div class="img-link">{{ e.media[e.header.podcast.picked_image].html }}</div>
                        </div>
                    </div>
                    {% if e.header.podcast.episode_number %}<p class="episode-number">{{ "AUDIO.EPISODE"|t }} {{ e.header.podcast.episode_number }}</p>{% endif %}
                    {% if e.header.city %}<p class="city">{{ e.header.city }}</p>{% endif %}
                </a>
            </li>
        {% endfor %}

        </ul>
    </div>
    {% endif %}

</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/audio.js') %}
{% do assets.addJs('theme://js/mosaic.js') %}
{% endblock %}
