{% extends 'default.html.twig' %}

{% block content %}

<div>

    <div id="breadcrumbs-menu">
        {% include 'partials/breadcrumbs.html.twig'%}
    </div>

    <div>
        <h1>{{ page.title }}</h1>{% if (header.podcast.audio.meta.guid) %}
        <small>({{ header.podcast.audio.meta.duration }})</small>{% endif %}
        {% if header.podcast.episode_number %}<p class="episode-number">{{ "AUDIO.EPISODE"|t }} {{ header.podcast.episode_number }}</p>{% endif %}
        {% if header.city %}<p class="city">{{ header.city }}</p>{% endif %}
        {% if header.authors %}<p class="authors">{{ header.authors }}</p>{% endif %}
        {% if page.content %}<div class="episode-text">{{ page.content|markdown }}</div>{% endif %}

        <div class="pic">
            {% if(header.podcast.picked_image) %} <a class="img-link {% if page.header.textual %} textual{% endif %}" href="{{ page.media[header.podcast.picked_image].url }}">{{ page.media[header.podcast.picked_image].html }}</a> {% endif %}
            <div>
                {% if (header.podcast.audio.meta.guid) %}
                <div class="audio">
                    <audio controls="1" alt="{{ episode.title }}"><source src="{{ page.header.podcast.audio.meta.guid }}">{{ 'PLUGIN_PODCAST.EPISODE_CONTENT.WARNING'|t|e }}</audio></br>
                    {% if page.parent.slug == "balades-sonores" %}
                        <a class="download" href="{{ header.podcast.audio.meta.guid }}" download>{{ "AUDIO.DOWNLOAD"|t }}</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>

        {% if header.credits %}
        <div class="credits">
            <h4>{{ "AUDIO.CREDITS"|t }}</h4>
                <div>
                    {{ header.credits|markdown }}
                </div>
            </div>
        {% endif %}

    </div>

</div>
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/audio.js') %}
{% endblock %}
