{% extends 'default.html.twig' %}

{% block content %}

<div>

    <h1>{{ page.title }}</h1>

    <div>

        <div>

            <h2>{{ "ABOUT.UNITS"|t }}{{ "ABOUT.COLON"|t }}</h3>
            <ul>
                {% for item in header.projects.units %}
                    <li>
                        <div>
                            <h3 class="units">{{ item.title }}</h3> {% if item.author %}<span class="authors">{{ item.author }}</span>{% endif %}
                        </div>
                        {{ item.text|markdown }}
                        {% if item.current %}
                        <ul>
                            {% for elem in item.current %}
                            <li>
                                <div>
                                    <h4>{{ elem.title }}</h4> {% if elem.author %}<span class="authors">{{ elem.author }}</span>{% endif %}
                                </div>
                                {{ elem.text|markdown }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if item.adaptations %}
                        <p class="subtitle">{{ item.adaptations_text }}</p>{{ "ABOUT.COLON"|t }}
                        <ul>
                            {% for elem in item.adaptations %}
                            <li>
                                <div>
                                    <h4>{{ elem.title }}</h4> {% if elem.author %}<span class="authors">{{ elem.author }}</span>{% endif %}
                                </div>
                                {{ elem.text|markdown }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <h2>{{ "ABOUT.SERIES"|t }}{{ "ABOUT.COLON"|t }}</h3>
            <ul>
                {% for item in header.projects.series %}
                    <li>
                        <div>
                            <h4>{{ item.title }}</h4> {% if item.author %}<span class="authors">{{ item.author }}</span>{% endif %}
                        </div>
                        <p class="format">{{ item.format }}</p>
                        {{ item.text|markdown }}
                    </li>
                {% endfor %}
            <ul>

        </div>

    </div>

</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/about.js') %}
{% endblock %}
