{% extends 'default.html.twig' %}

{% block content %}

<div>

    <h1>{{ page.title }}</h1>

    <div>
        <h2>{{ "ABOUT.SKILLS"|t }}</h2>

        <p>{{ page.header.skills_text }}</p>

        <div>
            <div class="accordeon">
                <h3 id="podcasts" class="subtitle">{{ "ABOUT.PODCASTS"|t }}</h3><button class="more" aria-expanded="false" aria-label="{{ 'ARIA.PODCASTS'|t }}">+</button>
            </div>
            <div class="hide">
                {{ page.header.podcasts|markdown }}
            </div>
        </div>
        <div>
            <div class="accordeon">
                <h3 id="sound-walks" class="subtitle">{{ "ABOUT.SOUNDWALKS"|t }}</h3><button class="more" aria-expanded="false" aria-label="{{ 'ARIA.SOUNDWALKS'|t }}">+</button>
            </div>
            <div class="hide">
                {{ page.header.soundwalks|markdown }}
            </div>
        </div>
    </div>

    <div>
        <h2>{{ "ABOUT.SERVICES"|t }}</h2>
        <div>
            {{ page.header.services|markdown }}
        </div>
    </div>

    <div>
        <h2>{{ "ABOUT.WORKSHOPS"|t }}</h2>
        <div>
            {{ page.header.workshops|markdown }}
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/about.js') %}
{% endblock %}
