{% extends 'default.html.twig' %}

{% block content %}

<div>

<h1>{{ page.title }}</h1>

    <ul>
        {% for page in pages.children %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>

</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/about.js') %}
{% endblock %}
