{% extends 'default.html.twig' %}

{% block content %}

<div>

    <h1>{{ "TEAM.COLLECTIVE"|t }}</h1>

    <h2>{{ "TEAM.MEMBERS"|t }}</h2>

    {% for member in page.header.collective.team %}
        <div class="member">
            <div>
                {% if member.sound %}<button class="audio-button" aria-label="{{ 'ARIA.PORTRAIT'|t ~ member.name }}." data-source="{{ page.url ~ '/' ~ member.sound }}"><h4>{{ member.name }}</h4></button>{% else %}<h4 class="button">{{ member.name }}</h4>{% endif %} {% if member.website %}<a class="website" aria-label="{{ 'ARIA.VISIT'|t ~ member.name }}." href="{{ member.website }}" target="_blank"><img src="{{ url('theme://images/website.svg') }}" /></a>{% endif %}
            </div>
            <p class="role">{{ member.role }}<p>
            {{ member.text|markdown }}
        </div>
    {% endfor %}

    <h2>{{ "TEAM.ASSOCIATES"|t }}</h2>

    {% for member in page.header.collective.collaborations %}
        <div class="member">
            <div>
                {% if member.sound %}<button class="audio-button" aria-label="{{ 'ARIA.PORTRAIT'|t ~ member.name }}." data-source="{{ page.url ~ '/' ~ member.sound }}"><h4>{{ member.name }}</h4></button>{% else %}<h4 class="button">{{ member.name }}</h4>{% endif %} {% if member.website %}<a class="website" aria-label="{{ 'ARIA.VISIT'|t ~ member.name }}." href="{{ member.website }}" target="_blank"><img src="{{ url('theme://images/website.svg') }}" /></a>{% endif %}
            </div>
            <p class="role">{{ member.role }}<p>
            {{ member.text|markdown }}
        </div>
    {% endfor %}

</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/team.js') %}
{% endblock %}
