{% extends 'default.html.twig' %}

{% block content %}

<div>

    <h1>{{ "ABOUT.TITLE"|t }}</h1>

    <div>
        <h2>{{ page.title }}</h2>
        <div>
            {{ page.header.sonya|markdown }}
        </div>
    </div>

    <div>
        <h2>{{ "ABOUT.WHY"|t }}</h2>
        <div>
            {{ page.header.fiction|markdown }}
        </div>
    </div>

    <div id="partners">
        <div class="accordeon">
            <h2>{{ "ABOUT.PARTNERSHIPS"|t }}</h2><button class="more" aria-expanded="false" aria-label="{{ 'ARIA.PARTNERSHIPS'|t }}">+</button>
        </div>
        <div class="hide">
            {{ page.header.partnerships|markdown }}
        </div>
    </div>

    <div id="refs">
        <div class="accordeon">
            <h2>{{ "ABOUT.PRESS"|t }}</h2><button class="more" aria-expanded="false" aria-label="{{ 'ARIA.REFS'|t }}">+</button>
        </div>
        <div class="hide">
            {{ page.header.references|markdown }}
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/script.js') %}
{% do assets.addJs('theme://js/about.js') %}
{% endblock %}
